.home-page{
  /* display: grid; */
  /* grid-template-columns: repeat(5, 1fr); */
  /* grid-gap: 1px; */
  /* padding: 20px; */
  position: absolute;
  margin-left: -30px;
  width: 100vw;
  background-color: rgb(194, 15, 110);
  background-image: url('https://static1.squarespace.com/static/58c233319de4bbceb91e60d3/t/5bf7b83621c67c5581d34f6e/1492226929729/makeup-brush2.png?format=1500w');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.intro{
  font-size: 150px;
  color: white;
  float: right;
  margin-right: 200px;
}

.intro {
  animation: glow 1s infinite alternate;
}

@keyframes glow {
  to {
      text-shadow: 0 0 10px white;
  }
}
