.go-back{
  margin-right: 30px; 
  margin-top: 10px;
}

.whole-detail-page {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  width: 85vw;
  height: 80vh;
  justify-content: center;
  align-items: center;
  padding: 30px;
  overflow: hidden;
  margin-top: 10px; 
}

.detail-page-image{
  width: 40%;
}

.right-side,
.left-side {
  height: 100%;
  width: 50%;
  padding: 20px;
}

li {
  list-style: none;
  text-align: center;
}

.rating{
  height: 5%;
}

ul{
  height: 80px;
  overflow: scroll;
  padding-left: 0px;
}

.link-details{
  height: 10%;;
}

.brand{
  margin: 0px;
  height: 25px;
}

.description{
  height: 150px;
  overflow: scroll;
}

.color-box{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  overflow: scroll;
  margin: 20px;
  height: 275px;
}




/* .whole-detail-page{
  position: absolute;
  overflow: scroll;
  border: 1px solid red;
  width: 96%;
  display: flex;
}

.align-colors-and-details{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.align {
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  font-size: 1em;
}

.detail-page-image {
  height: 29vh;
  width: 22vw;
}

.detail-page {
  width: 40vw;
}

.color-box{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.each-color{
  display: flex;
  flex-direction: column;
}

.align-vertically{
  height: 60px;;
}
 */
