.black {
  background: black;
  height: 20px;
  /* padding: 10px; */
}

h1 {
  text-align: center;
  transform: rotate(-5deg);
  color: red;
  font-size: 35px;
  font-style: italic;
  font-family: cursive;
  margin: auto;
}

.white {
  background: white;
  height: 20px;
}

.banner {
  height: 10vh;
}