nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0px;
}


.nav-word{
  text-decoration: none;
  padding: 10px;
  color: black;
}

.red {
  color: rgb(194, 15, 110);
}

.nav-word:hover{
  color: rgb(194, 15, 110);
  cursor: pointer;
}