  .App {
  text-align: center;
}

.product-collection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1px;
  padding-left: 30px;
  padding-right: 30px;
}

.none,
.loading {
  color:  rgb(194, 15, 110);;
}
